.panel {
  padding: 1em;
}

.heading1 {
  size: 16;
  text-decoration: underline;
  font-weight: bold;
}

.normal_text {
  text-indent: 1em;
  padding: 0.5em;
}

canvas {
  float: left;
  padding: 1em;
}
